@import 'variables';

footer {
    background-color: $primary-dark;
    border-top: 5px solid $secondary;
    color: $primary-light;
    text-align: center;
    display: grid;
    grid-template-columns: 40px 1fr 40px;
    grid-template-rows: auto;
    h3 {
        grid-column: 2; 
        max-width: 480px;
        margin: 2rem auto 1rem;
    }
    > p,a {
        grid-column: 2/2;
        margin: 0 0 10px 0;
        color: white;
        + p {
            margin-top: 0;
        }
    }
    p {
        max-width: none;
    }
    .footer-bottom {
        grid-row: auto;
        grid-column: 1/4;
        background-color: $primary-extra-dark;
        padding: 10px 0;
        margin-top: 1rem;
        p {
            opacity: .5;
        }
    }
}
