@import 'variables';
@import 'font';

body {
    font-family: $primary-san-serif-font;
    font-size: 100%; /* 16px */
    color: $primary-dark;
    margin: 0;
    line-height: 1.4;
}
a {
    text-decoration: none;
    color: $primary-dark;
    &:hover {
        cursor: pointer;
    }
}
h1, h2, h3, h4, h5, h6 {
    margin: 0;
}
p {
    font-family: $secondary-san-serif-font;
    margin: 0;
    max-width: 680px;
    line-height: 1.75;
    + p {
        margin-top: 30px;
    }
}
ol {
    font-weight: 700;
    padding-inline-start: 20px;
    margin-top: 40px;
    li {
        font-size: 1.25rem;
        p {
            font-size: 1rem;
            font-weight: 300;
            margin-top: 10px;
        }
        + li {
            margin-top: 30px;
        }
    }
}
a.project-link {
    text-decoration: underline;
    span {
        -webkit-transform:  rotate(-180deg);
        transform: rotate(-180deg);
        padding-right: 30px;
    }
}
section {
    margin-top: 40px;
}
.header-container {
    height: 100vh;
    .header-content {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
    }
}
.grid-container {
    display: grid;
    grid-template-columns: 20px repeat(3, 1fr) 20px;
    grid-template-rows: auto;
}
.grid-container-quarters {
    display: grid;
    grid-column: 2/5;
    grid-template-columns: repeat(4, 1fr);
    grid-column-gap: 2rem;
    grid-row-gap: 2rem;
    margin-top: 2rem;
    padding: 0 2rem;
    img {
        width: 100%;
        grid-column: 1/5;
    }
}
.case-study-section {
    margin-top: 160px;
}
.section-dark {
    background-color: $primary-dark;
    color: white;
    padding-bottom: 60px;
    border-top: 5px solid $secondary;
}
.section-medium {
    background-color: $primary-dark;
    color: white;
}
.section-separator-large {
    margin-top: 160px;
}
.section-separator {
    margin-top: 40px;
}
.subpage-section-separator {
    margin-top: 100px;
    display: grid;
    grid-column: 3/5;
    text-align: right;
    h1 {
        margin: -5px 0;
    }
    span {
        color: $secondary;
    }
}
.main-content {
    width: 100%;
    .summary-header {
        margin-bottom: 10px;
    } 
    .case-study-header {
        margin-top: 60px;
        text-align: center;
    }
    iframe {
        margin-top: 3rem;
    }
    .design-process-diagram {
        grid-column: 2/5;
        width: 65%;
        margin: 1rem auto 0;
    }
    .icon-reference {
        font-size: .5rem;
        grid-column: 2/5;
        text-align: right;
        color: $medium-grey;
        +.icon-reference {
            margin-bottom: 3rem;
        }
    }
}
.project-image-container {
    display: grid;
    grid-column: 2/5;
    grid-template-columns: 1fr 1fr 1fr;
    grid-column-gap: 2rem;
    margin-top: 60px;
    h1, p, img {
        grid-column: 1/4;
        + p {
            margin-top: 1rem;
        }
    }
    img {
        width: 100%;
        margin: 2rem 0;
    }
    .album-image {
        box-shadow: 1px 2px 20px rgba(0,0,0,.10);
    }
}
.tre-image-container img {
    width: 75%;
    margin: 2rem auto;
}
.next-project-link {
    margin: 120px 0;
    text-align: center;
    a {
        font-size: 1.5rem;
        font-weight: 700;
        color: $secondary;
        border: 2px solid $secondary;
        padding: 10px 20px;
        border-radius: 4px;
        &:hover {
            color: white;
            background-color: $secondary;
        }
    }
}
.image-dropshadow {
    box-shadow: 1px 2px 20px rgba(0,0,0,.10);
}
.intro-header-section {
    display: grid;
    grid-column: 2/5;
    text-align: center;
}
.intro-subheader-section {
    display: grid;
    grid-column: 2/5;
    grid-row: 2;
    margin: 0;
    p {
        text-align: center;
        margin: 0;
    }
}
.music-icons-section {
    text-align: center;
    margin-top: 1.5rem;
    a + a {
        margin-left: 2rem;
    }
    img {
        height: 40px;
    }
}
.subpage-section-heading {
    background-color: $primary-dark;
    color: white;
    padding-bottom: 60px;
}
.section-header {
    padding: 10px 0;
    letter-spacing: 2px;
    grid-column: 2/5;
    h2 {
        font-weight: 700;
    }
}
#projects-section {
    margin-bottom: 10px;
}
#about-section + .section-content {
    .button {
        margin-top: 40px;
        border-radius: 60px;
        box-shadow: 1px 2px 4px rgba(0,0,0,.10);
    }
}
.section-content {
    grid-column: 2/5;
    + .section-content {
        margin-top: 30px;
    }
    &.project-section {
        display: grid;
        grid-column: 2/5;
        .project-details {
            h3 {
                margin-bottom: 20px;
            }
            p + p {
                margin-top: 0;
            }
        }
        & img {
            width: 100%;
        }
        .project-image {
            font-size: 3rem;
            font-family: $primary-serif-font;
            color: $secondary;
            margin-top: 20px;
        }
        +.project-section {
            margin-top: 40px;
        }
    }   
}
.quote-section {
    padding: 8rem 0;    
    text-align: center;
    h2 {
        font-size: 3rem;
    }
    p {
        font-size: 1.5rem;
        margin: 1rem auto 0;
    }
}
.visit-website-section {
    padding: 60px 0;
    background-color: $primary-dark;
    color: white;
    text-align: center;
    margin-top: 80px;
    border-radius: 4px;
    box-shadow: 1px 2px 8px rgba(0,0,0, .25);
    .button {
        margin-top: 20px;
    }
}
@media (min-width: $screen-sm-min) { 
    .grid-container-quarters img {
        grid-column: auto;
    }
}
@media (min-width: $screen-md-min) {
    #projects-section {
        margin-bottom: 60px;
    }
    .grid-container {
        grid-template-columns: 40px repeat(3, 1fr) 40px;
    }
    .main-content {
        max-width: 960px;
        margin: 0 auto
    }
    .section-header, .section-content {
        grid-column: 2/5;
    }
    .section-content {
        &.project-section {
            display: grid;
            grid-column: 2/5;
            grid-template-columns: 1fr 2fr;
            grid-column-gap: 40px;
            &:hover {
                img {
                    transform: scale(1.04, 1.04);
                }
                h3 {
                    color: $secondary;
                }
            }
            .project-image {
                margin-top: 0;
            }
            .image-container {
                grid-column: 2;
                overflow: hidden;
                height: 100%;
                img {
                    height: 100%;
                    transition: all 0.25s ease-in-out;
                    transition-property: all;
                    transition-duration: 0.25s;
                    transition-timing-function: ease-in-out;
                    transition-delay: 0s;
                }
            }
            +.project-section {
                margin-top: 80px;
            }
        }
    }
    .project-image-container .album-image {
        grid-column: auto;
    }
    .tre-image-container img {
        width: 50%;
        margin: 2rem auto;
    }
    .subpage-section-separator {
        margin-top: 160px;
        h1 {
            margin: -10px 0;
        }
    }
    .horizontal-separator {
        grid-column: 2/5;
        margin: 80px 0;
        width: 300px;
    }
    .section-separator-large {
        margin-top: 200px;
    }
    .section-separator {
        margin-top: 60px;
    }
    .intro-header-section {
        grid-column: 2/5;
    }
    .intro-subheader-section {
        grid-column: 2/5;
    }
}
