/* Color Variables */
$primary-black: #222;
$primary-dark: #29333a;
$primary-extra-dark: #1C2429;
$primary-light: #fff;
$secondary: #C09F6D;
$medium-grey: #888888;

/* Font Variables */
$primary-san-serif-font: 'Montserrat', sans-serif;
$primary-serif-font: 'Lora', serif;
$secondary-san-serif-font: 'Open Sans', sans-serif;

/* Breakpoints */
$screen-sm-min: 671px;
$screen-md-min: 768px;
$screen-lg-min: 1025px;

/* Heading Variables */
$heading-gigantic: 6.5rem;
$heading-x-large: 4rem;
$heading-large: 3rem;
$heading-normal: 2.25rem;
$heading-small: 1.5rem;
$heading-x-small: 1.25rem;

/* Paragraph Variables */
$paragraph-x-large: 1.75rem;
$paragraph-large: 1.5rem;
$paragraph-small: 1.25rem;
$paragraph-x-small: .875rem;