/* Color Variables */
/* Font Variables */
/* Breakpoints */
/* Heading Variables */
/* Paragraph Variables */
/* Color Variables */
/* Font Variables */
/* Breakpoints */
/* Heading Variables */
/* Paragraph Variables */
.heading-serif {
  font-family: "Montserrat", sans-serif; }

.section-sub-header {
  font-family: "Montserrat", sans-serif;
  font-size: 1.25rem;
  margin-bottom: .5rem; }

ul {
  font-family: "Open Sans", sans-serif; }

.extra-light {
  font-weight: 200; }

.light, .button-primary, .button-primary-outline {
  font-weight: 300; }

.uppercase {
  text-transform: uppercase; }

.lowercase {
  text-transform: lowercase; }

.align-center {
  text-align: center; }

/* Heading Styles */
.main-header {
  font-size: 2.25rem;
  margin: 0; }

.intro-sub-header {
  font-family: "Montserrat", sans-serif;
  font-size: 0.875rem;
  text-align: center; }

.section-header {
  font-size: 1.25rem; }
  .section-header h1 {
    margin: 0; }

@media (min-width: 671px) {
  .main-header {
    font-size: 3rem; }
  .intro-sub-header {
    font-size: 1.25rem; }
  .section-sub-header {
    font-size: 1.5rem;
    margin-bottom: 1rem; } }

@media (min-width: 768px) {
  .main-header {
    font-size: 4rem; }
  .intro-sub-header {
    text-align: right;
    font-size: 1.75rem; }
  .section-header {
    font-size: 2.25rem; } }

@media (min-width: 1025px) {
  .main-header {
    font-size: 6.5rem; } }

/* Button Styles */
.button {
  display: inline-block;
  border: none;
  outline: none;
  text-decoration: none;
  text-align: center;
  font-family: "Montserrat", sans-serif;
  padding: 10px 20px;
  letter-spacing: 1px;
  transition: all 0.3s ease;
  cursor: pointer;
  border-radius: 60px; }

.button-primary {
  background-color: #29333a;
  color: white; }

.button-primary-outline {
  background-color: white;
  color: #29333a;
  border: 1px solid #29333a; }
  .button-primary-outline:hover {
    background-color: #29333a;
    color: white;
    border: 1px solid white; }
