/* Color Variables */
/* Font Variables */
/* Breakpoints */
/* Heading Variables */
/* Paragraph Variables */
/* Color Variables */
/* Font Variables */
/* Breakpoints */
/* Heading Variables */
/* Paragraph Variables */
.heading-serif {
  font-family: "Montserrat", sans-serif; }

.section-sub-header {
  font-family: "Montserrat", sans-serif;
  font-size: 1.5rem; }

ul {
  font-family: "Open Sans", sans-serif; }

.extra-light {
  font-weight: 200; }

.light {
  font-weight: 300; }

.uppercase {
  text-transform: uppercase; }

.lowercase {
  text-transform: lowercase; }

.align-center {
  text-align: center; }

/* Heading Styles */
.main-header {
  font-size: 2.25rem;
  margin: 0; }

.sub-header {
  font-family: "Montserrat", sans-serif;
  font-size: 0.875rem;
  text-align: center; }

.section-header {
  font-size: 1.25rem; }
  .section-header h1 {
    margin: 0; }

@media (min-width: 671px) {
  .main-header {
    font-size: 3rem; }
  .sub-header {
    font-size: 1.25rem; } }

@media (min-width: 768px) {
  .main-header {
    font-size: 4rem; }
  .sub-header {
    text-align: right;
    font-size: 1.75rem; }
  .section-header {
    font-size: 2.25rem; } }

@media (min-width: 1025px) {
  .main-header {
    font-size: 6.5rem; } }

body {
  font-family: "Montserrat", sans-serif;
  font-size: 100%;
  /* 16px */
  color: #29333a;
  margin: 0;
  line-height: 1.4; }

a {
  text-decoration: none;
  color: #29333a; }
  a:hover {
    cursor: pointer; }

h1, h2, h3, h4, h5, h6 {
  margin: 0; }

p {
  font-family: "Open Sans", sans-serif;
  margin: 0;
  max-width: 680px;
  line-height: 1.75; }
  p + p {
    margin-top: 30px; }

ol {
  font-weight: 700;
  padding-inline-start: 20px;
  margin-top: 40px; }
  ol li {
    font-size: 1.25rem; }
    ol li p {
      font-size: 1rem;
      font-weight: 300;
      margin-top: 10px; }
    ol li + li {
      margin-top: 30px; }

a.project-link {
  text-decoration: underline; }
  a.project-link span {
    -webkit-transform: rotate(-180deg);
    transform: rotate(-180deg);
    padding-right: 30px; }

section {
  margin-top: 40px; }

.header-container {
  height: 100vh; }
  .header-container .header-content {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%); }

.grid-container {
  display: grid;
  grid-template-columns: 20px repeat(3, 1fr) 20px;
  grid-template-rows: auto; }

.grid-container-quarters {
  display: grid;
  grid-column: 2/5;
  grid-template-columns: repeat(4, 1fr);
  grid-column-gap: 2rem;
  grid-row-gap: 2rem;
  margin-top: 2rem;
  padding: 0 2rem; }
  .grid-container-quarters img {
    width: 100%;
    grid-column: 1/5; }

.case-study-section {
  margin-top: 160px; }

.section-dark {
  background-color: #29333a;
  color: white;
  padding-bottom: 60px;
  border-top: 5px solid #C09F6D; }

.section-separator-large {
  margin-top: 160px; }

.section-separator {
  margin-top: 40px; }

.subpage-section-separator {
  margin-top: 100px;
  display: grid;
  grid-column: 3/5;
  text-align: right; }
  .subpage-section-separator h1 {
    margin: -5px 0; }
  .subpage-section-separator span {
    color: #C09F6D; }

.main-content {
  width: 100%; }
  .main-content .summary-header {
    margin-bottom: 10px; }
  .main-content .case-study-header {
    margin-top: 60px;
    text-align: center; }
  .main-content iframe {
    margin-top: 3rem; }

.project-image-container {
  display: grid;
  grid-column: 2/5;
  grid-template-columns: 1fr 1fr 1fr;
  grid-column-gap: 2rem;
  margin-top: 60px; }
  .project-image-container h1, .project-image-container p, .project-image-container img {
    grid-column: 1/4; }
    .project-image-container h1 + p, .project-image-container p + p, .project-image-container img + p {
      margin-top: 1rem; }
  .project-image-container img {
    width: 100%;
    margin: 2rem 0; }
  .project-image-container .album-image {
    box-shadow: 1px 2px 20px rgba(0, 0, 0, 0.1); }

.next-project-link {
  margin: 120px 0;
  text-align: center; }
  .next-project-link a {
    font-size: 1.5rem;
    font-weight: 700;
    color: #C09F6D;
    border: 2px solid #C09F6D;
    padding: 10px 20px;
    border-radius: 4px; }
    .next-project-link a:hover {
      color: white;
      background-color: #C09F6D; }

.image-dropshadow {
  box-shadow: 1px 2px 20px rgba(0, 0, 0, 0.1); }

.intro-header-section {
  display: grid;
  grid-column: 2/5;
  text-align: center; }

.intro-subheader-section {
  display: grid;
  grid-column: 2/5;
  grid-row: 2;
  margin: 0; }
  .intro-subheader-section p {
    text-align: center;
    margin: 0; }

.music-icons-section {
  text-align: center;
  margin-top: 1.5rem; }
  .music-icons-section a + a {
    margin-left: 2rem; }
  .music-icons-section img {
    height: 40px; }

.subpage-section-heading {
  background-color: #29333a;
  color: white;
  padding-bottom: 60px; }

.section-header {
  padding: 10px 0;
  letter-spacing: 2px;
  grid-column: 2/5; }
  .section-header h2 {
    font-weight: 700; }

#projects-section {
  margin-bottom: 10px; }

#about-section + .section-content .button {
  margin-top: 40px;
  border-radius: 60px;
  box-shadow: 1px 2px 4px rgba(0, 0, 0, 0.1); }

.section-content {
  grid-column: 2/5; }
  .section-content + .section-content {
    margin-top: 30px; }
  .section-content.project-section {
    display: grid;
    grid-column: 2/5; }
    .section-content.project-section .project-details h3 {
      margin-bottom: 20px; }
    .section-content.project-section .project-details p + p {
      margin-top: 0; }
    .section-content.project-section img {
      width: 100%; }
    .section-content.project-section .project-image {
      font-size: 3rem;
      font-family: "Lora", serif;
      color: #C09F6D;
      margin-top: 20px; }
    .section-content.project-section + .project-section {
      margin-top: 40px; }

.visit-website-section {
  padding: 60px 0;
  background-color: #29333a;
  color: white;
  text-align: center;
  margin-top: 80px;
  border-radius: 4px;
  box-shadow: 1px 2px 8px rgba(0, 0, 0, 0.25); }
  .visit-website-section .button {
    margin-top: 20px; }

@media (min-width: 671px) {
  .grid-container-quarters img {
    grid-column: auto; } }

@media (min-width: 768px) {
  #projects-section {
    margin-bottom: 60px; }
  .grid-container {
    grid-template-columns: 40px repeat(3, 1fr) 40px; }
  .main-content {
    max-width: 960px;
    margin: 0 auto; }
  .section-header, .section-content {
    grid-column: 2/5; }
  .section-content.project-section {
    display: grid;
    grid-column: 2/5;
    grid-template-columns: 1fr 2fr;
    grid-column-gap: 40px; }
    .section-content.project-section:hover img {
      transform: scale(1.04, 1.04); }
    .section-content.project-section:hover h3 {
      color: #C09F6D; }
    .section-content.project-section .project-image {
      margin-top: 0; }
    .section-content.project-section .image-container {
      grid-column: 2;
      overflow: hidden;
      height: 100%; }
      .section-content.project-section .image-container img {
        height: 100%;
        transition: all 0.25s ease-in-out;
        transition-property: all;
        transition-duration: 0.25s;
        transition-timing-function: ease-in-out;
        transition-delay: 0s; }
    .section-content.project-section + .project-section {
      margin-top: 80px; }
  .project-image-container .album-image {
    grid-column: auto; }
  .subpage-section-separator {
    margin-top: 160px; }
    .subpage-section-separator h1 {
      margin: -10px 0; }
  .horizontal-separator {
    grid-column: 2/5;
    margin: 80px 0;
    width: 300px; }
  .section-separator-large {
    margin-top: 200px; }
  .section-separator {
    margin-top: 60px; }
  .intro-header-section {
    grid-column: 2/5; }
  .intro-subheader-section {
    grid-column: 2/5; } }
