/* Color Variables */
/* Font Variables */
/* Breakpoints */
/* Heading Variables */
/* Paragraph Variables */
/* Navbar Styles */
.navbar {
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  background-color: white;
  box-shadow: 0px 2px 8px 2px rgba(0, 0, 0, 0.05);
  border-bottom: 1px solid #C09F6D;
  z-index: 1000; }
  .navbar .navbar-inner {
    display: grid;
    grid-template-columns: auto;
    grid-template-areas: "home";
    padding: 15px 20px; }
    .navbar .navbar-inner .navbar-grid-home {
      grid-area: home; }
      .navbar .navbar-inner .navbar-grid-home a.navigation-back {
        background-image: url(../images/arrow.svg);
        background-size: 20px 20px;
        background-repeat: no-repeat;
        background-position: 0 -1px; }
      .navbar .navbar-inner .navbar-grid-home .navigation-back-text {
        padding-left: 30px;
        font-weight: 700; }
    .navbar .navbar-inner .navbar-flyout-menu .navbar-flyout-inner {
      text-align: right; }
      .navbar .navbar-inner .navbar-flyout-menu .navbar-flyout-inner ul {
        margin-top: 20px;
        padding-top: 20px;
        padding-left: 0;
        border-top: 1px solid #C09F6D; }
        .navbar .navbar-inner .navbar-flyout-menu .navbar-flyout-inner ul li {
          list-style: none; }
          .navbar .navbar-inner .navbar-flyout-menu .navbar-flyout-inner ul li:not(:first-child) {
            margin-top: 20px; }
      .navbar .navbar-inner .navbar-flyout-menu .navbar-flyout-inner.collapse {
        display: none; }
        .navbar .navbar-inner .navbar-flyout-menu .navbar-flyout-inner.collapse.show {
          display: block; }
      .navbar .navbar-inner .navbar-flyout-menu .navbar-flyout-inner.collapsing {
        position: relative;
        height: 0;
        overflow: hidden;
        transition: height .35s ease; }
    .navbar .navbar-inner .hamburger-button {
      display: grid;
      background-color: transparent;
      width: 25px;
      grid-area: home;
      justify-self: right;
      padding: 0;
      cursor: pointer;
      border: none; }
      .navbar .navbar-inner .hamburger-button .hamburger-bar {
        background-color: #222;
        height: 3px;
        width: 100%; }
        .navbar .navbar-inner .hamburger-button .hamburger-bar:not(:first-child) {
          margin-top: 5px; }

@media (min-width: 768px) {
  .navbar .navbar-inner {
    grid-template-columns: 2fr 4fr 6fr;
    grid-template-areas: "home auto hamburger";
    padding: 20px; }
    .navbar .navbar-inner .hamburger-button {
      display: none; }
    .navbar .navbar-inner .navbar-flyout-menu {
      position: relative;
      background-color: none;
      display: grid;
      grid-column: hamburger; }
      .navbar .navbar-inner .navbar-flyout-menu .navbar-flyout-inner ul {
        padding: 0;
        display: inline;
        text-align: right;
        border-top: none;
        margin: 0; }
        .navbar .navbar-inner .navbar-flyout-menu .navbar-flyout-inner ul li {
          display: inline;
          margin-left: 40px; }
          .navbar .navbar-inner .navbar-flyout-menu .navbar-flyout-inner ul li:not(:first-child) {
            margin-top: 0; }
      .navbar .navbar-inner .navbar-flyout-menu .navbar-flyout-inner.collapse, .navbar .navbar-inner .navbar-flyout-menu .navbar-flyout-inner.collapse.show {
        display: grid !important;
        background-color: white;
        margin: 0;
        height: auto; }
      .navbar .navbar-inner .navbar-flyout-menu .navbar-flyout-inner.collapsing {
        position: relative;
        height: 100%;
        overflow: visible; }
  .navbar .navbar-hamburger-links {
    display: grid; } }
